* {
  box-sizing: border-box;
}

body {
font-family: 'Poppins', sans-serif;
}

.header{
  display:flex;
  justify-content: space-between;
}

.outstand{
  font-weight: 800;
  color: rgb(60, 69, 170);
}

.sidebar > ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  color: rgb(180, 69, 69);
  margin-top: 40px;
  font-weight: 700;
}

.intro-box{
  border: 50px solid rgba(33, 91, 129,50%);
  width: 100%;
  padding: 50px;
  margin: 20px auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.project > h2 {
  text-align: center;
}

.project-container{
  display: flex;
  justify-content: space-around;
}

.card-title{
  font-weight: bold;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

footer{
  background-color: rgba(33, 91, 129,50%);
  text-align: center;
}