* {
  box-sizing: border-box;
}

body {
font-family: 'Poppins', sans-serif;
}

.first-viewport{
  background-color:#1c1d25;
  height: 100vh;
  color:white;
  font-size: 40px;
}

nav{
display: flex;
justify-content: space-between;
}

nav > ul{
  display:flex;
  list-style-type:none;
  width:500px;
  justify-content:space-around;
  font-size: 30px;
}

.header{
  display: flex;
  height:100%;
  justify-content: space-between;
  align-items: center;
}

.header-text{
  margin-left: 80px;
  margin-bottom: 280px;
}

h1{
  font-size:80px;
  margin:0;
}

p.header{
  f
}

.button{
  width:200px;
  height:55px;
  border-radius:30px;
  background-color: coral;
  text-align:center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover{
  background-color: #ef744b;
}

.button:active{
  background-color: #A9A9A9;
  color: #808080;
}

.social{
  padding:200px;
}

.linkedin, .github{
  margin: 20px 0;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.project{
  text-align: center;
}

.project-container{
  display:flex;
  justify-content: space-around;
}

#projects h3 {
  color:rgb(41, 41, 41);
  padding-left: 1em;
  font-size: 1.5em;
}

#projects ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#projects li {
  color:rgba(19, 19, 19, 0.9);
  padding: 1em;
  box-sizing: border-box;
  background-color:rgb(255, 255, 255);
  margin: 1em;
  font-size: 1.5em;
  text-align: center;
  border-radius: .5em;
}

#projects h4 {
  margin: 0;
  padding-bottom: 1em;
  padding-top: .2em;
}

#projects a {
  text-decoration: none;
  color:rgba(19, 19, 19, 0.9);
}

#projects li:hover {
  background-color:rgb(247,148,142);
  color:rgba(19, 19, 19, 0.9);
}

.project-img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

footer{
  height:40px;
  background-color:rgba(33, 91, 129,50%);
}