* {
  box-sizing: border-box;
}

body {
font-family: 'Poppins', sans-serif;
}

.hero {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 100px;
  border-radius: 30px;
  background-color: rgb(200, 200, 100);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding-top: 5px;
  margin-top: 20px;
}

.socials {
  padding-bottom: 200px;
}

.social {
  margin: 20px;
}

.intro-box{
  border: 50px solid rgba(33, 91, 129,50%);
  width: 100%;
  padding: 50px;
  margin: 20px auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.project > h2 {
  text-align: center;
  font-weight: bold;
}

.project-container{
  display: flex;
  justify-content: space-around;
}

.card-title{
  font-weight: bold;
}

a:link {
  color: coral;
  cursor: pointer;
}

a:visited {
  color: green;
  cursor: pointer;
}

a:hover {
  color: hotpink;
  cursor: pointer;
}

a:active {
  color: blue;
  cursor: pointer;
}

footer{
  background-color: rgba(33, 91, 129,50%);
  text-align: center;
}